* {
    box-sizing: border-box;
  }

  body {
      background-color:black;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  /* START Header */

  header {
      background: midnightblue;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
  }
  
  
  header nav {
    
    margin: 7px
  }

  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

  .card img {
    border: 5px solid rgba(21, 73, 133, 0.133);
    border-radius: 30px;
    height: min-content;
    padding: 10px;
    width: 300px;
    flex: 1 0 0;
  }

  .card img:hover {
    box-shadow: 0 0 10px 5px rgba(0, 140, 186, 0.5);
  }

  